@import url("https://use.typekit.net/wgl2ode.css");

/*-------------------------------------------------
# CSS Reset
-------------------------------------------------*/
* {
  margin: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

/*-------------------------------------------------
# Elements
-------------------------------------------------*/
body {
  color: #777;  
}

button{
  border-radius: 15px;
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 13px;
}

button:hover{
  scale: 1.1;
}

h1, h2, h3{
  font-weight: 400;
  color:#418883;
}

label,
p {
  display: block; 
  line-height: 1.5em;
  padding-bottom: 20px;
}

label{
  margin-bottom: 10px;
}

form {
  width: 100%;
  padding: 15px;
}

ul{
  padding-bottom: 20px;
}

li{
  line-height: 1.5em;
}

input[type="text"] {  
  border:none;
  color: #777;
  font-size: 1rem;
  line-height: 1.5em;
  outline: none;  
  width: 100%;
  padding: 13px 10px;
}

header{
  margin:40px 0px;
  text-align: center;
}

header h2{
  width: 80%;
  margin: auto;
}

/*-------------------------------------------------
# Text
-------------------------------------------------*/
.capitalize{
  text-transform: capitalize;
}

.formula{
  font-weight: 600;
}

::-moz-selection { /* Code for Firefox */
  color: #f2f2f2;
  background: #418883;
}

::selection {
  color: #f2f2f2;
  background: #418883;
}

.legenda{
  background-color: #f2f2f2;
  font-size: 1rem;    
  padding: 13px 10px;
  white-space: nowrap;
}


/*-------------------------------------------------
# Step bar
-------------------------------------------------*/
.steps-container {
  display: flex;
  justify-content: center;
  position: relative;
}
.step {  
  background-color: white; 
  border: 2px  solid #418883;
  border-radius: 50%;
  display: flex;
  height: 16px;
  margin: 0 16px;
  width: 16px;
  z-index: 1;
}

.step_active{
  background-color: #418883 ;
}

.steps-container::before {
  background-color: #418883;
  content: " ";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
}

@media screen and (min-width: 768px) {
   form {
    width: 768px;
    margin: auto;
   }
}

/*-------------------------------------------------
# values section
-------------------------------------------------*/
.input-values-input{
  border-radius: 15px;
  border-color: #777;    
  border-width: 2px;
  border-style: solid;
  overflow: hidden;
}
.input_values div {
  display: flex;    
  margin-bottom: 20px;
}

/*-------------------------------------------------
# Buttons
-------------------------------------------------*/
.btn-next{
  color: #35495e;
  background-color: transparent;
  border: 2px solid #35495e;

}

.btn-previous{
  color: #fff;
  background-color: #35495e;
  border: 2px solid #35495e;;
}

/*-------------------------------------------------
# Results
-------------------------------------------------*/
.result-container{
  background-color: #f2f2f2;
  border-radius: 15px;
}

.result-value{
  font-size: 2rem;
  padding: 30px 0;
  text-align: center;
  vertical-align: auto;
  width: 100%;
}

.result-title{
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;  
}

.isHidden{
  display: none;
}

/*-------------------------------------------------
# Padding / Margins
-------------------------------------------------*/
.pb_2{ 
  padding-bottom: 20px; 
}

.pb_4{
  padding-bottom: 40px;
}

.mb_4{
  margin-bottom: 40px;
}
.mt_4{
  margin-top: 40px;
}
/*-------------------------------------------------
# Align
-------------------------------------------------*/
.align_left{
  justify-content: right;
}

.space_between{
  justify-content: space-between;
}
.min_height{
  min-height: 100vh;
}